body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    padding: 2em;
}

img {
    display: block;
    max-width: 640px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

.collapsible {
    margin-top: 2em;
}

.collapsible-header {
    background-color: #ccc;
    color: #333;
    cursor: pointer;
    padding: 1em;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    margin-bottom: 1em;
}

.collapsible-content {
    padding: 0 1em;
    display: none;
    overflow: hidden;
    background-color: #f9f9f9;
}

.collapsible-header:hover {
    background-color: #ddd;
}

#memorization {
    margin-top: 2em;
}

.diagram {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.drop-zone {
    width: 18%;
    height: 100px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}

.behaviors {
    display: flex;
    flex-wrap: wrap;
}

.draggable {
    width: 30%;
    padding: 1em;
    margin: 1em;
    background-color: #ccc;
    text-align: center;
    cursor: grab;
    border: 1px solid #999;
    transition: background-color 0.3s ease;
}

.draggable:active {
    cursor: grabbing;
    background-color: #bbb;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
}
